<h1><%= @house.name %></h1>

<% @house.characters.each do |character| %>
  <div class="characters">
    <h2><%=link_to character.name, house_character_path(character) %></h2>
    <!-- Link here to go to character show page -->
    <%= image_tag character.img_url %>
  </div>
<% end %>
